table{
font-size:95%;
}
b {
  color:#667cab;
}
hr {
  color:#667cab;
}

.header{
        color:#667cab;
	font-size:230%;
	width=400%;
	bold=30px;
}

body {
  margin: 0 auto;
  width: 99%;
  color:#222;
 font-family: 'Open Sans', sans-serif;
font-size:95%;
}

h2 {
  color:#667cab;
}

h3 {
  color:#667cab;
}

h4 {
  color:#667cab;
}

a {
  color:red;
  text-decoration:none;
}

a:hover {
  color:#0f0f0f;
  text-shadow: gray 3px 3px 5px;
}

ul
{
  list-style-type: square;
  }

